{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}

<h2 class="mt-4">{% trans "Sign In" %}</h2>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
    <!--
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
    -->
    <p>사용 중인 소셜계정을 이용해 로그인해 주세요. <br>또는, 위의 '회원가입' 버튼을 이용해 {{ site.name }}에 회원 가입을 진행 후 아래 로그인 양식을 이용해 로그인해 주세요.</p>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            {% for provider in socialaccount_providers %}
                {% if provider.name == 'Google' %}
                     <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} me-1"
                 href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><img src="{% static 'images/allauth/google_signin_buttons/web/1x/btn_google_signin_dark_normal_web.png' %}"></a>
                {% endif %}
                {% if provider.name == 'Kakao' %}
                     <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} me-1"
                 href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><img src="{% static 'images/allauth/kakao_signin_buttons/kakao_login_medium_narrow.png' %}" style="height:46px;"></a>
                {% endif %}
                {% if provider.name == 'Naver' %}
                     <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
                 href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><img src="{% static 'images/allauth/naver_signin_buttons/btnG_normal.png' %}" style="height:46px;"></a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-12 d-flex justify-content-center">
            또는
        </div>
    </div>

    <!--
    <div class="socialaccount_ballot mb-3">

        <ul class="socialaccount_providers list-group">

            {% include "socialaccount/snippets/provider_list.html" with process="login" %}

        </ul>

        <div class="login-or mt-3">{% trans 'or' %}</div>

    </div>
    -->

    {% include "socialaccount/snippets/login_extra.html" %}

{% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
<!--
<form class="login post-form" method="POST" action="{% url 'common:login' %}">
-->
    {% csrf_token %}

    {% include "form_errors.html" %}

    <!--
    {{ form.as_p }}
    -->
    <div class="row mb-2">
        <label for="id_login" class="col-3 col-form-label">아이디</label>
        <div class="col-9">
            <input type="text" class="form-control" name="login" placeholder="아이디" autocomplete="username" maxlength="150" required id="id_login" value="{{ form.login.value|default_if_none:'' }}">
        </div>
    </div>
    <div class="row mb-2">
        <label for="id_password" class="col-3 col-form-label">비밀번호</label>
        <div class="col-9">
            <input type="password" class="form-control" name="password" placeholder="비밀번호" autocomplete="current-password" required id="id_password" value="{{ form.password.value|default_if_none:'' }}">
        </div>
    </div>
    <!--
    <div class="row mb-2">
        <label for="id_remember" class="col-auto col-form-label">아이디 저장: </label>
        <div class="col-auto">
            <input type="checkbox" name="remember" id="id_remember" {% if form.remember.value %}checked{% endif %}>
        </div>
    </div>
    -->

    <!--
    <div class="form-group mb-2">
        <label for="username">ID</label>
        <input type="text" class="form-control" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}">
    </div>
    <div class="form-group">
        <label for="password">비밀번호</label>
        <input type="password" class="form-control" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}">
    </div>
    -->

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="mb-4">
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
    <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}
